<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta content="telephone=no,email=no" name="format-detection">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no">
    <link rel="canonical" href="https://www.unileverfoodsolutions.com.cn/">
    <title>联合利华饮食策划</title>
    <link rel="shortcut icon" href="/images/ufscmcmall/favicon.ico">
    <!-- <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css"> -->
    <!--start oneapm-->
      <!-- <script type='text/javascript'>window.BWEUM||(BWEUM={});BWEUM.info = {"stand":true,"agentType":"browser","agent":"tpm.oneapm.com/static/js/bw-send.js","beaconUrl":"tpm.oneapm.com/beacon","licenseKey":"je~26bRmmiNBn7Yf","applicationID":6756};</script> -->
    <!--end oneapm-->

    <script type="text/javascript">
      var UDM = {};
      UDM.globalbrand='Unilever Food Solutions';
      UDM.localbrand='Food MutiBrands';
      UDM.category='Foods';
      UDM.channel='Brand Site';
      UDM.country='China';
      UDM.sitetype='Non-Avinash eCommerce';
      UDM.evq=[];
      UDM.setCustomDimension =  {'dimension11': 'LOGGED VISIT', 'dimension13': 'UFS CHANNEL', 'dimension14': 'AREA', 'dimension15': 'TEMPLATE'};

      (function(d,u) {
        if(d.domain === 'member.unileverfoodsolutions.com.cn') {
          u=('https:'==document.location.protocol?'https://':'http://')+'wa-na.unileversolutions.com';
          UDM.gid='444cebd128515d647f51dd5ad70a153e';
          UDM.gaa='UA-76438300-1,UA-35586169-1,UA-57095782-1';
          UDM.dom='.unileverfoodsolutions.com.cn';
        } else {
          u=('https:'==document.location.protocol?'https://':'http://')+'wa-uat.unileversolutions.com';
          UDM.gid='5cf3c958a322bc6d63b2a6cda5f1d563';
          UDM.gaa='UA-75731283-11,UA-35586169-2';
        }
        document.write("<scr" + "ipt type='text/javascript' src='" + u + "/ct/" + UDM.gid + "/u.js'></scr" + "ipt>");
      })(document);
    </script>
  </head>
  <body>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
